.right {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 10%;
  background-color: rgb(198, 61, 211);
  z-index: 2;
  text-align: center;
  border-radius: 20px;
  color: white;
}
.left {
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40%;
  right: 10%;
  background-color: rgb(15, 125, 189);
  z-index: 2;
  text-align: center;
  border-radius: 20px;
}
.text {
  padding-top: 50px;
}
.center {
  position: absolute;
  left: 40%;
  width: 250px;
  height: 100px;
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px 10px;
  z-index: 100;
  border-radius: 20px;
}
.leave {
  background-color: rgb(16, 108, 230);
  color: white;
  border-radius: 5px;
}
